### IMPORTAMOS LIBRERIAS Y EXTRAEMOS LOS DATOS QUE SE ENCUENTRAN EN LOS CSV

# EXTRACCIÓN DE LOS DATOS

In [28]:
import pandas as pd
import sqlite3
import os

# Indicamos la ruta donde tenemos los csv, en este caso la dirección que tenemos en la computadora
os.chdir(r"C:\Users\JoelB\OneDrive\Escritorio\Zoo")

# Cargamos los csv que tienen los datos
df_zoo = pd.read_csv("zoologicos.csv", sep=";", index_col="id_zoo")
df_encargados = pd.read_csv("encargados.csv", sep=";", index_col="id_encargado")
df_especies = pd.read_csv("especies.csv", sep=";", index_col="id_especie")
df_animales = pd.read_csv("animales.csv", sep=";", index_col="id_animal")

# AÑADIDOS PARA LA SEMANA 7 / 3 ENTIDADES NUEVAS
df_veterinarios = pd.read_csv("veterinarios.csv", sep=";", index_col="id_veterinario")
df_diagnostico = pd.read_csv("registro medico.csv", sep=";", index_col="id_registro")
df_categoria = pd.read_csv("categoria diagnostico.csv", sep=";", index_col="id_categoria")

### Verificamos que los datos fueron extraidos correctamente

In [29]:
# Verificar los primeros registros
display(df_zoo.head())
display(df_encargados.head())
display(df_especies.head())
display(df_animales.head())
display(df_veterinarios.head())
display(df_diagnostico.head())
display(df_categoria.head())

       nombre_zoologico     ciudad   pais  tamaño_m2  presupuesto_anual
id_zoo
1              Ueno Zoo      Tokio  Japón     140000          150000000
2          Ashayima Zoo  Asahikawa  Japón     120000          110000000

              nombre_encargado  zoo_id
id_encargado
1             Haruto Takahashi       1
2                 Olivia Brown       2

,nombre_comun,nombre_cientifico,familia,estatus_conservacion
id_especie,,,,
1,Tanuki,Nyctereutes procyonoides,Canidae,Preocupación menor
2,Grulla coronada,Balearica regulorum,Gruidae,Vulnerable
3,Panda rojo,Ailurus fulgens,Ailuridae,En peligro
4,Dragón de Komodo,Varanus komodoensis,Varanidae,En peligro

,nombre,especie_id,sexo,año_nacimiento,pais_origen,continente_origen,zoo_id
id_animal,,,,,,,
1,Kitsu,1,F,2017,Japón,Asia,1
2,Tora,3,M,2018,Nepal,Asia,1
3,Hikari,2,F,2020,Japón,Asia,1
4,Kumo,4,M,2016,Indonesia,Asia,2

                nombre_especialista       especialidad  zoo_id
id_veterinario
1                  Dr. Kenji Tanaka          Mamíferos       1
2               Dra. Yumi Kobayashi           Reptiles       1
3                 Dr. Taro Nakamura               Aves       2
4                  Dra. Saki Fujita  Patología general       2

,animal_id,veterinario_id,fecha_atencion,diagnóstico,tratamiento,categoria_id
id_registro,,,,,,
1,1,1,12-06-2023,Alergia cutánea,Antihistamínicos,2
2,2,2,03-07-2023,Lesión en la pata,Vendaje y reposo,2
3,3,3,15-08-2023,Problemas digestivos,Dieta especial,3
4,4,4,10-10-2023,Examen de rutina,Ninguno,1
5,1,3,20-01-2024,Chequeo post-cirugía,Evaluación mensual,2

                 rango                       descripcion
id_categoria
1                Verde     Óptimo - Sin problemas graves
2             Amarillo  En seguimiento - Condición media
3                 Rojo  Estado grave - Requiere atención

# TRANSFORMACIÓN DE LOS DATOS

### Transformaremos el texto en una cadena (String), además transformaremos la cadena en lower (minuscula) para así mantener un solo formato de cadena.

In [30]:
# ANIMALES

df_animales["nombre"] = df_animales["nombre"].str.lower()
df_animales["pais_origen"] = df_animales["pais_origen"].str.lower()
df_animales["continente_origen"] = df_animales["continente_origen"].str.lower()
df_animales["sexo"] = df_animales["sexo"].str.lower()

# Corregimos año_nacimiento  a fecha utilizando datatime, puesto que es modificar la columna completa
#df_animales["año_nacimiento"] = pd.to_datetime(df_animales["año_nacimiento"], format='%Y', errors='coerce')

# Eliminamos los duplicados 
df_animales.drop_duplicates(inplace=True)

In [31]:
# ESPECIES

df_especies["nombre_comun"] = df_especies["nombre_comun"].str.lower()
df_especies["nombre_cientifico"] = df_especies["nombre_cientifico"].str.lower()
df_especies["familia"] = df_especies["familia"].str.lower()
df_especies["estatus_conservacion"] = df_especies["estatus_conservacion"].str.lower()
df_especies.drop_duplicates(inplace=True)

# Eliminamos los duplicados 
df_especies.drop_duplicates(inplace=True)

In [32]:
# ZOOLOGICOS 

df_zoo["nombre_zoologico"] = df_zoo["nombre_zoologico"].str.lower()
df_zoo["ciudad"] = df_zoo["ciudad"].str.lower()
df_zoo["pais"] = df_zoo["pais"].str.lower()


# Eliminamos los duplicados 
df_zoo.drop_duplicates(inplace=True)

In [33]:
# ENCARGADOS

df_encargados["nombre_encargado"] = df_encargados["nombre_encargado"].str.lower()

# Eliminamos duplicados
df_encargados.drop_duplicates(inplace=True)

In [34]:
## LAS DOS ENTIDADES DE LA SEMANA 7

# VETERINARIOS

df_veterinarios["nombre_especialista"] = df_veterinarios["nombre_especialista"].str.lower()
# Eliminamos duplicados
df_veterinarios.drop_duplicates(inplace=True)

In [35]:
# REGISTRO MEDICO

df_diagnostico["diagnóstico"] = df_diagnostico["diagnóstico"].str.lower()
df_diagnostico["tratamiento"] = df_diagnostico["tratamiento"].str.lower()
# Eliminamos duplicados
df_diagnostico.drop_duplicates(inplace=True)

In [36]:
# CATEGORIA DIAGNOSTICO
df_categoria["rango"] = df_categoria["rango"].str.lower()
df_categoria["descripcion"] = df_categoria["descripcion"].str.lower()
# Eliminamos duplicados
df_categoria.drop_duplicates(inplace=True)

### Verificamos los datos generales NULOS (Null)  y también las Relaciones entre las Tablas/Entidades

In [37]:
# VERIFICAMOS LOS DATOS GENERALES

print("VALIDACIÓN: ZOOLOGICOS")
print("Nulos:\n", df_zoo.isnull().sum())
print("Duplicados:", df_zoo.duplicated().sum())
print("IDs únicos:", df_zoo.index.is_unique)
print()

print("VALIDACIÓN: ENCARGADOS")
print("Nulos:\n", df_encargados.isnull().sum())
print("Duplicados:", df_encargados.duplicated().sum())
print("IDs únicos:", df_encargados.index.is_unique)
print()

print("VALIDACIÓN: ESPECIES")
print("Nulos:\n", df_especies.isnull().sum())
print("Duplicados:", df_especies.duplicated().sum())
print("IDs únicos:", df_especies.index.is_unique)
print()

print("VALIDACIÓN: ANIMALES")
print("Nulos:\n", df_animales.isnull().sum())
print("Duplicados:", df_animales.duplicated().sum())
print("IDs únicos:", df_animales.index.is_unique)
print("Valores únicos en 'sexo':", df_animales["sexo"].unique())
print()


# VERIFICAMOS LAS RELACIONES ENTRE LAS TABLAS/ENTIDADES

# Validar claves foráneas en Animales
print("¿Todas los (especie_id) existen en (df_especies)?")
print(df_animales["especie_id"].isin(df_especies.index).value_counts())

print("¿Todos los (zoo_id) existen en (df_zoologicos)?")
print(df_animales["zoo_id"].isin(df_zoo.index).value_counts())

# Validar claves foraneas en Encargados
print("¿Todos los (zoo_id) de (df_encargados) existen en (df_zoologicos)?")
print(df_encargados["zoo_id"].isin(df_zoo.index).value_counts())


## AÑADIMOS A LOS NUEVOS DE LA SEMANA 7

# VALIDACIÓN: VETERINARIOS
print("VALIDACIÓN: VETERINARIOS")
print("Nulos:\n", df_veterinarios.isnull().sum())
print("Duplicados:", df_veterinarios.duplicated().sum())
print("IDs únicos:", df_veterinarios.index.is_unique)
print()

# VALIDACIÓN: DIAGNÓSTICO MÉDICO
print("VALIDACIÓN: DIAGNÓSTICO MÉDICO")
print("Nulos:\n", df_diagnostico.isnull().sum())
print("Duplicados:", df_diagnostico.duplicated().sum())
print("IDs únicos:", df_diagnostico.index.is_unique)
print()

# VALIDACIÓN: CATEGORÍA DIAGNÓSTICO
print("VALIDACIÓN: CATEGORÍA DIAGNÓSTICO")
print("Nulos:\n", df_categoria.isnull().sum())
print("Duplicados:", df_categoria.duplicated().sum())
print("IDs únicos:", df_categoria.index.is_unique)
print()


# VERIFICAMOS LAS RELACIONES ENTRE LAS TABLAS/ENTIDADES

# Validar claves foraneas en DIAGNOSTICO MEDICO
print("¿Todos los (animal_id) existen en (df_animales)?")
print(df_diagnostico["animal_id"].isin(df_animales.index).value_counts())

print("¿Todos los (veterinario_id) existen en (df_veterinarios)?")
print(df_diagnostico["veterinario_id"].isin(df_veterinarios.index).value_counts())

print("¿Todos los (categoria_id) existen en (df_categoria)?")
print(df_diagnostico["categoria_id"].isin(df_categoria.index).value_counts())

VALIDACIÓN: ZOOLOGICOS
Nulos:
 nombre_zoologico     0
ciudad               0
pais                 0
tamaño_m2            0
presupuesto_anual    0
dtype: int64
Duplicados: 0
IDs únicos: True

VALIDACIÓN: ENCARGADOS
Nulos:
 nombre_encargado    0
zoo_id              0
dtype: int64
Duplicados: 0
IDs únicos: True

VALIDACIÓN: ESPECIES
Nulos:
 nombre_comun            0
nombre_cientifico       0
familia                 0
estatus_conservacion    0
dtype: int64
Duplicados: 0
IDs únicos: True

VALIDACIÓN: ANIMALES
Nulos:
 nombre               0
especie_id           0
sexo                 0
año_nacimiento       0
pais_origen          0
continente_origen    0
zoo_id               0
dtype: int64
Duplicados: 0
IDs únicos: True
Valores únicos en 'sexo': ['f' 'm']

¿Todas los (especie_id) existen en (df_especies)?
especie_id
True    4
Name: count, dtype: int64
¿Todos los (zoo_id) existen en (df_zoologicos)?
zoo_id
True    4
Name: count, dtype: int64
¿Todos los (zoo_id) de (df_encargados) existen en (df_zoologicos)?
zoo_id
True    2
Name: count, dtype: int64
VALIDACIÓN: VETERINARIOS
Nulos:
 nombre_especialista    0
especialidad           0
zoo_id                 0
dtype: int64
Duplicados: 0
IDs únicos: True

VALIDACIÓN: DIAGNÓSTICO MÉDICO
Nulos:
 animal_id         0
veterinario_id    0
fecha_atencion    0
diagnóstico       0
tratamiento       0
categoria_id      0
dtype: int64
Duplicados: 0
IDs únicos: True

VALIDACIÓN: CATEGORÍA DIAGNÓSTICO
Nulos:
 rango          0
descripcion    0
dtype: int64
Duplicados: 0
IDs únicos: True

¿Todos los (animal_id) existen en (df_animales)?
animal_id
True    5
Name: count, dtype: int64
¿Todos los (veterinario_id) existen en (df_veterinarios)?
veterinario_id
True    5
Name: count, dtype: int64
¿Todos los (categoria_id) existen en (df_categoria)?
categoria_id
True    5
Name: count, dtype: int64

In [38]:
# La cantidad de registros en cada entidad

print(
    f"TOTAL REGISTROS :\n"
    f"Animales: {len(df_animales)}, "
    f"Especies: {len(df_especies)}, "
    f"Zoológicos: {len(df_zoo)}, "
    f"Encargados: {len(df_encargados)}, "
    f"Veterinarios: {len(df_veterinarios)}, "
    f"Diagnóstico Médico: {len(df_diagnostico)}, "
    f"Categoría Diagnóstico: {len(df_categoria)}"
)

TOTAL REGISTROS :
Animales: 4, Especies: 4, Zoológicos: 2, Encargados: 2, Veterinarios: 4, Diagnóstico Médico: 5, Categoría Diagnóstico: 3

# CARGA DE LOS DATOS

In [39]:
# Conectamos con la base de datos y en caso de no existir se creará la nueva base de datos
conn = sqlite3.connect("Zoo.db")

# Cargar DataFrames a la base de datos
# Usamos if_exists="replace" para evitar errores si la tabla ya existe

df_zoo.to_sql("Zoologico", conn, if_exists="replace")
df_especies.to_sql("Especie", conn, if_exists="replace")
df_encargados.to_sql("Encargado", conn, if_exists="replace")
df_animales.to_sql("Animal", conn, if_exists="replace")
df_veterinarios.to_sql("Veterinario", conn, if_exists="replace")
df_diagnostico.to_sql("RegistroMedico", conn, if_exists="replace")
df_categoria.to_sql("CategoriaDiagnostico", conn, if_exists="replace")

3

In [40]:
# Consulta de relación entre 3 entidades: Animal, Especie y Zoologico.
# Se utiliza JOIN para unir las tablas mediante claves foráneas,
# obteniendo información combinada con los nombres de columnas originales.

consulta = """
SELECT 
    A.nombre,
    A.sexo,
    A.año_nacimiento,
    E.nombre_comun,
    E.estatus_conservacion,
    Z.nombre_zoologico,
    Z.ciudad
FROM Animal A
JOIN Especie E ON A.especie_id = E.id_especie
JOIN Zoologico Z ON A.zoo_id = Z.id_zoo
"""
resultado = pd.read_sql_query(consulta, conn)
# Una vez realizada la consulta mostramos el resultado de la Query
display(resultado)

,nombre,sexo,año_nacimiento,nombre_comun,estatus_conservacion,nombre_zoologico,ciudad
0,kitsu,f,2017,tanuki,preocupación menor,ueno zoo,tokio
1,tora,m,2018,panda rojo,en peligro,ueno zoo,tokio
2,hikari,f,2020,grulla coronada,vulnerable,ueno zoo,tokio
3,kumo,m,2016,dragón de komodo,en peligro,ashayima zoo,asahikawa

In [41]:
# Consulta que relaciona diagnóstico, animal, especie, zoológico, veterinario y categoría.
# Muestra información médica completa, incluyendo fecha de atención, diagnóstico, tratamiento y nivel de gravedad.
# Se utilizan JOINs para unir correctamente todas las entidades involucradas.

consulta_diagnostico = """
SELECT 
    R.id_registro,
    R.fecha_atencion,
    R.diagnóstico,
    R.tratamiento,
    A.nombre,
    E.nombre_comun,
    Z.nombre_zoologico,
    V.nombre_especialista,
    C.rango
FROM RegistroMedico R
JOIN Animal A ON R.animal_id = A.id_animal
JOIN Especie E ON A.especie_id = E.id_especie
JOIN Zoologico Z ON A.zoo_id = Z.id_zoo
JOIN Veterinario V ON R.veterinario_id = V.id_veterinario
JOIN CategoriaDiagnostico C ON R.categoria_id = C.id_categoria
"""

resultado = pd.read_sql_query(consulta_diagnostico, conn)

def color_rango(val):
    val = str(val).lower()
    if val == "verde":
        return "background-color: lightgreen"
    elif val == "amarillo":
        return "background-color: yellow"
    elif val == "rojo":
        return "background-color: lightcoral"
    return ""

resultado.style.applymap(color_rango, subset=["rango"])

C:\Users\JoelB\AppData\Local\Temp\ipykernel_29772\3289386879.py:36: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  resultado.style.applymap(color_rango, subset=["rango"])

#### Cerramos la conexión de base de datos

In [33]:
# Cerrar conexión
conn.close()